* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav{
    height: 130px; 
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    padding: 0 100px;
    gap: 50px;
    position: fixed;
    justify-content: flex-start;
    z-index: 99;
}

#nav img{
    height:50px;

}
#nav h4{
    font-weight: 500;
}
#nav h4 a{
    text-decoration: none;
    
}
#nav h4:hover, #nav h4 a:hover{
      color: #95C11E;
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.422);
}

#page1{
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 87px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: 'WELCOME TO STOCKX';
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 17px;
    font-weight: 500;   
    width: 40%;
}

.upper {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin-top: 60px;
}

.upper input {
    outline: none;
    border-radius: 8px;
    border: 1px solid #95C11E;
    width: 58%;
    height: 60px;
    font-size: 25px;
    color: black;
    margin-bottom: 100px;
}

.upper input::placeholder {
    text-align: center;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
   /* background-color: red;*/
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

#scroller::-webkit-scrollbar {
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 30px;
    transition: all linear 0.2s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}
.scroll {
    text-decoration: none;
    color: #95C11E;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.scroll:hover {
    text-decoration: none;
    color: #95C11E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@keyframes scroll{
    from{
    transform: translateX(0);
    }
    to{
    transform: translateX(-100%);
    }
}


#about-us{
    margin-top: 18vh;
    height: 40vh;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}

#about-us img{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    object-fit: cover;
}

#about-us-in{
    width: 50%;
    text-align: center;
}

#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
}

#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}

#cards-container{

/*background-color: red;*/
height: 60vh;
display: flex;
align-items: center;
justify-content: center;
gap: 70px;
position: relative;
z-index: 10;
}

.card{
    height: 80%;
    width: 24%;
    /*background-color: blue;*/
    border-radius: 20px;    
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}

#card1{
    background-image: url(/static/assets/img2.jpg);
}

#card2{
    background-image: url(/static/assets/img1.jpg);
}

#card3{
    background-image: url(/static/assets/img3.jpg);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding: 20px;  
    padding-top: 150px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4{
    color: #000;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    white-space: nowrap;
}

.overlay p{
    color: #000;
    font-size: 18px;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}

#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom,#21A336,#97C41E );
}

#green-div h4{
    width: 45%;
    font-size: 27px;
    color: #000;
    line-height: 50px;
    font-weight: 800px;
    text-align: center;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3 p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}

#page3 img{
    position: absolute;
    height: 60px;
}

#page3 #colon1{
    left: 13%;
    top: 25%;
}   

#page3 #colon2{
    right: 15%;
    bottom: 32%;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 1%;
}

.copyright-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: inherit;
    padding-top: 25px;
}

.copyright {
    background-color: inherit;
    font-size: large;
    font-weight: bold;
    padding-right: 40px;
    padding-bottom: 60px;
}