body {
  background-color: black;
  color: #95c11e;
}

#container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#suggestions {
  border-radius: 5%;
  background-color: aliceblue;
  margin: 3rem;
}

#suggestion-box {
  padding: 5%;
}

.btn-box {
  width: 2%;
  height: fit-content;
  margin: 35px 0px;
  position: relative;
  border-radius: 30px;
  background: #a3db0b;
}

#interval-select {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #a3db0b;
  cursor: pointer;
}

#interval-select:focus {
  outline: none;
  border-color: #aaa;
}

#interval-select option {
  padding: 5px;
  background-color: #fff;
  color: #000;
  overflow: visible;
}

#interval-select option:hover {
  background-color: #ccc;
}

#interval-select option:active {
  background-color: #10b02b;
}

button {
  font-weight: bold;
  font-size: large;
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
}

.copyright-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: inherit;
  padding-top: 25px;
}

.copyright {
  background-color: inherit;
  font-size: large;
  font-weight: bold;
  padding-right: 40px;
  padding-bottom: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 20px;
}

.grid-child {
  margin: 1rem;
}
