<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StockX</title>
    <link rel="icon" href="/static/assets/X.png" type="image/jpg">
    <link rel="stylesheet" href="/static/index.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
      integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://kit.fontawesome.com/a0e5820b30.js" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
      integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>

  <body>
    <div id="nav">
      <img src="/static/assets/logo.png" alt="" />
      <h4>MARKET</h4>
      <h4>TRADING INSIGHTS</h4>
      <h4>MY PORTFOLIO</h4>
      <h4><a href="{{ url_for('login') }}" target="_blank">LOGIN</a></h4>
    </div>
    <video autoplay loop muted plays-inline>
      <source src="/static/assets/backgroundVideo.mp4" />
    </video>

    <div id="main">
      <div id="page1">
        <h1>WELCOME TO STOCKX</h1>
        <h2>Stock Predict: Your Future using Stock Market Insights!</h2>
        <p>
          Creating a cutting-edge website for accurate stock market predictions
          using advance AI technology. Empower your investment decisions with
          AI-driven insights. Welcome to the Future of Stock Analysis
        </p>
        <div class="search-box">
          <div class="row">
              <input type="text" class="input-box" placeholder="Search Stocks" autocomplete="off">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="result-box"> </div>
        </div>
      </div>
      <div id="page2">
        <div id="scroller">
          <div id="scroller-in">
            {% for i in range(50) %}
            <h4>
              <a
              href="{{ url_for('stock', stock=data['ticker'][i]) }}"
                target="_blank"
                class="scroll"
                >{{data['ticker'][i]}}</a
              >
            </h4>
            {% endfor %}
          </div>
        </div>
        <div id="about-us">
          <img src="/static/assets/stockmarketphoto1.jpg" alt="" />
          <div id="about-us-in">
            <h3>ABOUT US</h3>
            <p>
              At StockX, we're using advanced AI and data analytics to transform
              stock market predictions. Our chat model, developed by experts in
              AI and finance, analyzes historical data to identify trends and
              factors influencing market movements. Designed to empower traders
              and investors, our model offers timely and reliable insights for
              confident decision-making in the complex world of finance.
            </p>
          </div>
          <img src="/static/assets/stockmarketphoto2.jpg" alt="" />
        </div>
        <div id="cards-container">
          <div class="card" id="card1">
            <div class="overlay">
              <h4>MARKET</h4>
              <p>
                Creating a cutting-edge website for accurate stock market predictions
                using advance AI technology. Empower your investment decisions with
                AI-driven insights.
              </p>
            </div>
          </div>
          <div class="card" id="card2">
            <div class="overlay">
              <h4>TRADING INSIGHTS</h4>
              <p>
                Creating a cutting-edge website for accurate stock market predictions
                using advance AI technology. Empower your investment decisions with
                AI-driven insights.
              </p>
            </div>
          </div>
          <div class="card" id="card3">
            <div class="overlay">
              <h4>MY PORTFOLIO</h4>
              <p>
                Creating a cutting-edge website for accurate stock market predictions
                using advance AI technology. Empower your investment decisions with
                AI-driven insights.
              </p>
            </div>
          </div>
        </div>
        <div id="green-div">
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt=""
          />
          <h4>
            SIGN UP FOR STOCK NEWS AND SPECIAL OFFERS STRAIGHT TO YOUR INBOX
          </h4>
          <img
            src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
            alt=""
          />
        </div>
      </div>
      <div id="page3">
        <p>
          Success in investing doesn't correlate with I.Q., once you are above
          the level of 125.Once you have ordinary intelligence,what you need is
          the temperament to control the urges that get other people into
          trouble in investing. <br /> - Warren Buffett
        </p>
        <img
          id="colon1"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
          alt=""
        />
        <img
          id="colon2"
          src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
          alt=""
        />
      </div>
      <footer>
        <div class="footer">
          <p>Developed by Team StockX</p>
        </div>
      </footer>
    </div>
    <script src="../static/index.js"></script>
  </body>
</html>
