<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form in Stock Market Prediction</title>
    <link rel="icon" href="/static/assets/X.png" type="image/jpg">
    <link rel="stylesheet" href="/static/register.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <form action="">
        <h1>Register</h1>
        <div class="input-box">
          <input type="email" placeholder="Email ID" required />
          <i class="bx bxs-user"></i>
        </div>
        <!-- <div class="input-box">
                    <input type="text" placeholder="Username" required>
                    <i class='bx bxs-user'></i>
                </div> -->
        <div class="input-box">
          <input type="Password" placeholder="Password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="input-box">
          <input type="Password" placeholder="Confirm Password" required />
          <i class="bx bxs-lock-alt"></i>
        </div>
        <div class="remember-forgot">
          <label> <input type="checkbox" name="remember" /> Remember Me </label>
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="register-link">
          <p>
            Already have an account?
            <a href="{{ url_for('login') }}">Login</a>
          </p>
        </div>
      </form>
    </div>
  </body>
</html>
